<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.margelo.nitro.nitrotflite.NitroTfliteInitProvider"
            android:authorities="${applicationId}.nitrotflite.init"
            android:exported="false"
            android:initOrder="99" />
    </application>
</manifest>
